@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap" rel="stylesheet");

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: larger;

}
